---
import SectionContainer from "@/components/SectionContainer.astro";
import { config } from "@/config";
import Layout from "@/layouts/Layout.astro";
import { Fragment } from "react";
import TokenCostCalculator from "./token-calculator";
---

<Layout
  title="Danielo Rodriguez - Tools"
  description="Full-stack developer"
  footerLinks={config.footerLinks}
  navItems={config.navItems}
>
  <main class="px-2">
    <SectionContainer class="py-16 md:py-36 flex gap-8 justify-center">
      <TokenCostCalculator client:only="react" />
    </SectionContainer>
  </main>
</Layout>
