---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/AboutMe.astro";
import Experience from "@/components/Experience.astro";
import Hero from "@/components/Hero.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import Projects from "@/components/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import TitleSection from "@/components/TitleSection.astro";
import { getCollection } from "astro:content";
const config = {
  linkedinUrl: "https://www.linkedin.com/in/danielorodriguez",
  footerLinks: [
    { label: "About me", href: "#sobre-mi" },
    { label: "Projects", href: "#projects" },
  ],
};

const projects = await getCollection("projects");
---

<Layout
  title="Danielo Rodriguez"
  description="Full-stack developer"
  links={config.footerLinks}
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero linkedinUrl={config.linkedinUrl} />
    </SectionContainer>
  </main>
  <div class="space-y-24">
    <SectionContainer id="experiencia">
      <TitleSection>
        <Briefcase class="size-8" />
        Experiencia laboral
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <TitleSection>
        <CodeIcon class="size-7" />
        Proyectos
      </TitleSection>
      <Projects {projects} />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Sobre mí
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
</Layout>
