---
import type { CollectionEntry } from "astro:content";
import ExperienceItem from "./ExperienceItem.astro";
interface Props {
  experience: Array<CollectionEntry<"experience">>;
}
---

<ol class="relative mt-16">
  {
    Astro.props.experience.map(async ({ data: experience, render }) => {
      const { Content } = await render();
      return (
        <Fragment>
          <li class="">
            <ExperienceItem {...experience}>
              <Content />
            </ExperienceItem>
          </li>
        </Fragment>
      );
    })
  }
</ol>
