---
import type { TechTag } from "@/content/config";
import NextJS from "@/icons/NextJS.astro";
import Tailwind from "@/icons/Tailwind.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import Obsidian from "./icons/Obsidian.astro";
import React from "./icons/React.astro";
import Redux from "./icons/Redux.astro";
import Svelte from "./icons/Svelte.astro";
import Typescript from "./icons/Typescript.astro";

interface Props {
  tag: TechTag;
}

const tagAppearance: Record<
  TechTag,
  { class: string; name: string; icon: any }
> = {
  nextjs: {
    class: "bg-nextjs text-gray-900 dark:text-white",
    name: "Next.js",
    icon: NextJS,
  },
  tailwind: {
    class: "bg-[#003159] text-gray-900 dark:text-white",
    name: "Tailwind",
    icon: Tailwind,
  },
  astro: {
    class: "bg-blue-600 border-blue-700 text-white",
    name: "Astro",
    icon: AstroIcon,
  },
  obsidian: {
    class: "border-purple-700 text-gray-900 dark:text-white",
    name: "Obsidian",
    icon: Obsidian,
  },
  svelte: {
    class: "border-orange-500 text-gray-900 dark:text-white",
    name: "Svelte",
    icon: Svelte,
  },
  typescript: {
    class: "border-blue-700 text-gray-900 dark:text-blue-300",
    name: "TypeScript",
    icon: Typescript,
  },
  react: {
    class: "border-blue-700 text-gray-900 dark:text-blue-300",
    name: "React",
    icon: React,
  },
  redux: {
    class: "border-purple-700 text-gray-900 dark:text-white",
    name: "Redux",
    icon: Redux,
  },
} as const;

const tag = tagAppearance[Astro.props.tag];
---

<span
  class={`flex gap-x-2 rounded-full text-xs border ${tag.class} py-1 px-2 `}
>
  <tag.icon class="size-4" />
  {tag.name}
</span>
