@import './constants';
@import './mixins';

.wrapper {
    position: fixed;
    top: 1em;
    right: 0;
    button
    {
        border: none;
        background-color: transparent;
        color: $white;
        font-size: 1.5em;
    }
}

.controls {
    background: $blue;
    padding: 1em;
    padding-bottom:.5em;
    padding-left: 2em;
    border-top-left-radius: 30px;
    border-bottom-left-radius:  30px;
}