@import './constants';
@import './mixins';

@mixin square($size){
/*    height: 0;
    width: $size;
    padding-bottom: $size;*/
    height: $size;
    width: $size;
}

.face-wrapper 
{
    @include square(25vw);
    transition: height 1s ease-in-out, width 1s ease-in-out;
    position: relative;
    img 
    {
        border-radius: 50%;
        height: 100%;
        width: 100%;
        padding: 2%;
    }
}

.minimized
{
    @include square(18vw);
}

.face-background
{
    border-radius: 50%;
    padding: 2%;
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid $blue;
    @include respond-to(medium){
        border-width: 4px;
    }
}