@import 'constants';

.container 
{
    width: 100%
}

.wrapper
{

    padding-left: $marginLeft;
}

.content
{
    padding: 1em;
}

.even 
{

    background-color: $white;
}

.odd
{
    background-color: $light-blue;
}