@import '../_constants';

.section {
    background-color: $blue;
}

.content {
    color: $white-text;
    font-size: 150%;
    line-height: 110%;
    text-align: center;
}

.cvLink {
    font-size: 3em;
}

.iconWrapper {
    font-size: 2em;
    margin-right: .5em;
    margin-top: .5em;
    display: inline-block;
}