@import '../constants';
@import '../mixins';


.wrapper {
    position: relative;
    text-align: center;
    padding-top: 1em;
    z-index: -1;    
    button
    {
        border: none;
        background-color: transparent;
        color: $white;
        font-size: .8em;
        @include respond-to(medium){
            font-size: 1.5em;
        }
    }
}

/* Drop then expand then appear*/
@keyframes expand {
    0%   { max-height: 2em; }
    50%  { max-height: 2em; }
    100% { max-height: 200px; }
}
@keyframes drop {
    from { top: -18vw;}
    to   { top: 0;}
}

@keyframes fadeIn {
    0%   { opacity: 0;}
    50%  { opacity: 0;}
    100% { opacity: 1;}
}

/* Collapse then lift*/
@keyframes lift {
    0%   { top: 0; }
    50%  { top: 0; }
    100% { top: -18vw; }
}

@keyframes collapse {
    from { max-height: 200px; }
    to   { max-height: 2em; }
}

.collapsed{
    top: -18vw;
    animation: lift 2s;    
    .controls {
        animation: collapse 1s;
        max-height: 2em;
        div {
            opacity: 0;
        }
    }
}

.expanded{
    top: 0;
    animation: drop 1s;
    .controls {
        max-height: 200px;        
        animation: expand 2s;
        div {
            opacity: 1;
            animation: fadeIn 2s;
        }
    }
}

.controls {
    background: $blue;
    padding: .5em 0;
    border-radius: 50px;
    text-align: center;
    display: inline-block;
    width: 2em;
     @include respond-to(medium){
        width: 4em;
        padding-bottom:1em;
        padding-top: 1em;
    }
    div {
        transition: opacity .5s ease-in-out;
    }
}
