---
import type { TechTag } from "@/content/config";
import Firebase from "@/icons/Firebase.astro";
import NextJS from "@/icons/NextJS.astro";
import Tailwind from "@/icons/Tailwind.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import Docker from "./icons/Docker.astro";
import Effect from "./icons/Effect.astro";
import Golang from "./icons/Golang.astro";
import Mongo from "./icons/Mongo.astro";
import Nodejs from "./icons/Nodejs.astro";
import Obsidian from "./icons/Obsidian.astro";
import Python from "./icons/Python.astro";
import React from "./icons/React.astro";
import Redux from "./icons/Redux.astro";
import Rust from "./icons/Rust.astro";
import Svelte from "./icons/Svelte.astro";
import Typescript from "./icons/Typescript.astro";

interface Props {
  tag: TechTag;
}

const defaultTagStyles =
  "border-gray-600 text-gray-900 bg-gray-200 dark:text-white dark:border-white dark:bg-transparent";

const tagAppearance: Record<
  TechTag,
  { class: string; name: string; icon: any }
> = {
  nextjs: {
    class: "text-gray-900 dark:text-white",
    name: "Next.js",
    icon: NextJS,
  },
  tailwind: {
    class: "bg-[#003159] text-gray-200 dark:border-transparent dark:text-white",
    name: "Tailwind",
    icon: Tailwind,
  },
  astro: {
    class: "bg-blue-600 border-blue-700 text-white",
    name: "Astro",
    icon: AstroIcon,
  },
  obsidian: {
    class: "border-purple-700 text-gray-900 dark:text-white",
    name: "Obsidian",
    icon: Obsidian,
  },
  svelte: {
    class: "border-orange-500 text-gray-900 dark:text-white",
    name: "Svelte",
    icon: Svelte,
  },
  typescript: {
    class:
      "border-blue-700 text-gray-700 bg-blue-200 dark:border-blue-600 bg-transparent dark:text-blue-300",
    name: "TypeScript",
    icon: Typescript,
  },
  react: {
    class:
      "border-blue-400 text-gray-100 bg-blue-500 dark:bg-transparent dark:text-blue-300 dark:border-blue-600",
    name: "React",
    icon: React,
  },
  redux: {
    class: "border-purple-700 text-gray-900 dark:text-white",
    name: "Redux",
    icon: Redux,
  },
  firebase: {
    class: "border-yellow-500 text-gray-900 dark:text-white",
    name: "Firebase",
    icon: Firebase,
  },
  rust: {
    class: "border-red-800 text-red-900 dark:text-red-500 dark:border-red-600",
    name: "Rust",
    icon: Rust,
  },
  reasonml: {
    class: defaultTagStyles,
    name: "ReasonML",
    icon: null,
  },
  golang: {
    class:
      "border-blue-700 text-gray-700 bg-blue-200 dark:text-blue-300 dark:bg-transparent dark:border-blue-600",
    name: "Go",
    icon: Golang,
  },
  supabase: {
    class:
      "bg-[#FFC107] border-[#FFC107] text-white dark:text-black dark:border-black",
    name: "Supabase",
    icon: null,
  },
  mongodb: {
    class:
      "bg-[#4DB33D] border-[#4DB33D] text-white dark:border-green-800 dark:bg-transparent",
    name: "MongoDB",
    icon: Mongo,
  },
  nodejs: {
    class:
      "bg-green-400 border-green-400 dark:border-green-500 dark:bg-transparent text-white",
    name: "Node.js",
    icon: Nodejs,
  },
  docker: {
    class:
      "bg-[#66B3FA] border-[#2496ED] text-white dark:border-blue-300 dark:bg-transparent",
    name: "Docker",
    icon: Docker,
  },
  nix: {
    class:
      "bg-[#7F5AF0] border-[#7F5AF0] text-white dark:border-blue-300 dark:bg-transparent",
    name: "Nix",
    icon: null,
  },
  "effect-ts": {
    class:
      "bg-[#003159] border-[#003159] text-white dark:border-blue-300 dark:bg-transparent",
    name: "Effect",
    icon: Effect,
  },
  python: {
    class:
      "bg-[#003159] border-[#003159] text-white dark:border-blue-300 dark:bg-transparent",
    name: "Python",
    icon: Python,
  },
} as const;

const tag = tagAppearance[Astro.props.tag];
---

<span
  class={`flex gap-x-2 rounded-full text-xs border ${tag.class} py-1 px-2 `}
>
  {tag.icon && <tag.icon class="size-4" />}
  {tag.name}
</span>
