---
import Footer from "@/components/Footer.astro";
import Prose from "@/components/Prose.astro";
import { config } from "../blog/config";
import * as cv from "./cv.md";
const { Content } = cv;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Danielo CV - full stack developer" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>CV of Danielo</title>
  </head>
  <body class="container mx-auto flex flex-col h-screen pt-8 print:pt-0">
    <div class="text-center fixed top-4 right-4 print:hidden">
      <button
        class="btn btn-primary border rounded-md p-2"
        type="button"
        onclick="print()"
      >
        Print
      </button>
    </div>
    <Prose>
      <Content />
    </Prose>
    <div class="mt-auto flex justify-center space-x-4 print:hidden">
      <Footer links={config.footerLinks} />
    </div>
    <style is:global>
      img {
        display: inline-block;
        width: 200px;
        max-width: 200px;
      }

      @media print {
        .prose img {
          width: 100px;
          margin: 0;
        }

        .prose h2 {
          margin-top: 1em;
          margin-bottom: 0.5em;
        }

        .prose h3 {
          margin-bottom: 0.25em;
        }

        .prose li {
          margin-bottom: 0.1em;
          margin-top: 0.1em;
        }

        .prose ul {
          margin-bottom: 0.15em;
        }

        .prose p {
          margin-bottom: 0.15em;
        }
      }
    </style>
  </body>
</html>
