@import '../_constants';
@import '../_mixins';

.wrapper {
    width: 100%;
}

.content {
    height: 100%;
    width: 100%;
    background-color: $blue;
    padding: .5em;
    overflow: hidden;
    line-height: 1;
    a {
        text-decoration: none;
        color: $white-text;
        word-break: break-all;
    }
    display: flex;
}

.linkWrapper {
    border-right: 1px dotted $white-text;
    padding: 0 .5em;
    float: left;
    height: 100%;
    display: inline-flex;
}

.controls{
    padding: 0 .5em;
    display: inline-flex;
    flex-grow: 1;
}

.lastLink {
    border-right: none;
}

.back {
    font-size: 120%;
}
.backText {
    display: none;
    font-family: Arvo,sans-serif;
    @include respond-to(medium){
        display: inline;
        padding-left: 1em;
        font-size: 120%;
    }
}