@import '../_constants';

.presentation-container 
{
    width: 100%;
    color: #fff;
    background-color: $blue;
    text-align: justify;
    padding-left: 30%;
    padding-right: 20%;
    h1 {
        font-size: 3em;
    }
}

.presentation-text-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}

.presentation-text {
    font-size: 1em;
    line-height: 1em;
}

.presentation-icons {
    text-align: center;
    width: 100%; 
}
